<div class="navbar-fixed black">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Rinqydink Arcade</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Signup</a></li>
</ul>

<div class="parallax-container">
  <div class="parallax"><img src="/assets/images/contact2.jpg"></div>
</div>

<div class="section white">
  <div class="row container">
    <div class="row">
      <h5 class="header center">Contact Form</h5>
    </div>
  </div>
</div>

<div class="row container">
    <div class="row">
        <div class="col s2"></div>
        {{ message }}
        <form class="col s8" method="POST" action="send">
            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate" name="firstname">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate" name="lastname">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" name="email">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea" name="message"></textarea>
                    <label for="textarea1">Message</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light btn-small black" type="submit" name="action">Submit</button>
        </form>
        <div class="col s2"></div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="/assets/images/improvement.jpg"></div>
</div>