<div id="high-scores-list">
    <div id="serving">
        <h3>High Scores:</h3>
        <ol>
            {{#each highScores}}

            <li data-id="{{id}}">
                {{'User.username'}} scored {{score}}
                <button class="delete-score" data-id="{{id}}">Delete</button>
            </li>
            {{/each}}
        </ol>
    </div>
</div>