<div class="navbar-fixed indigo darken-4">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Rinqydink Arcade</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Sign Up</a></li>
</ul>

<div class="full-slider">
    <div class="carousel carousel-slider">
        <a class="carousel-item" href="#one!"><img src="/assets/images/game6.jpg"></a>
        <a class="carousel-item" href="#two!"><img src="/assets/images/game10.jpg"></a>
        <a class="carousel-item" href="#three!"><img src="/assets/images/game15.jpg"></a>
        <a class="carousel-item" href="#four!"><img src="/assets/images/game8.jpg"></a>
        <a class="carousel-item" href="#five!"><img src="/assets/images/game2.jpg"></a>
        <a class="carousel-item" href="#six!"><img src="/assets/images/game9.jpg"></a>
    </div>
</div>