<div class="navbar-fixed black">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Rinqydink Arcade</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Sign Up</a></li>
</ul>

<div class="full-slider">
    <div class="carousel carousel-slider">
        <a class="carousel-item" href="#one!"><img class="responsive-img" src="/assets/images/game6.jpg"></a>
        <a class="carousel-item" href="#two!"><img class="responsive-img" src="/assets/images/game8.jpg"></a>
        <a class="carousel-item" href="#three!"><img class="responsive-img" src="/assets/images/game15.jpg"></a>
        <a class="carousel-item" href="#four!"><img class="responsive-img" src="/assets/images/game10.jpg"></a>
        <a class="carousel-item" href="#five!"><img class="responsive-img" src="/assets/images/game3.jpg"></a>
        <a class="carousel-item" href="#six!"><img class="responsive-img" src="/assets/images/game9.jpg"></a>
    </div>
</div>

<div class="section black">
    <div class="row container">
        <div class="row">
            <div class="col s5">
                <h3 class="white-text center">Community</h3>
                <h5 class="white-text center">Play against friends, chat in-game and more! With over hundreds of users, the fun never ends.</h5>
            </div>
            <div class="col s2"></div>
            <div class="col s5">
                <h3 class="white-text center">Features</h3>
                <h5 class="white-text center">We are constantly working to bring new updates and features.</h5>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <h4 class="white-text center">Contact Us</h4>
            </div>
        </div>
    </div>
</div>