<div class="navbar-fixed black">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><span class="member-name"></span></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
            <li><a href="/members">Menu</a></li>
            <li><a href="/profile">My Profile</a></li>
            </ul>
        </div>
    </nav>
</div>

<h1>Leaderboard</h1>