<div class="navbar-fixed indigo darken-4">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><span class="member-name"></span></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
            <li><a href="/members">Menu</a></li>
            <li><a href="/profile">My Profile</a></li>
            </ul>
        </div>
    </nav>
</div>

<h1>Leaderboard</h1>

{{!-- <div id="high-scores-list">
    <div id="serving">
        <h3>High Scores:</h3>
        <ol>
            {{#each highScores}}

            <li data-id="{{id}}">
                {{'User.username'}} scored {{score}}
                <button class="delete-score" data-id="{{id}}">Delete</button>
            </li>
            {{/each}}
        </ol>
    </div>
</div> --}}