<div class="navbar-fixed black">
    <nav>
        <div class="nav-wrapper">
            <a href="/members" class="brand-logo"><span class="member-name"></span></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/members">Menu</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/members">Menu</a></li>
    <li><a href="/profile">Profile</a></li>
</ul>

<div class="parallax-container">
    <div class="parallax"><img src="/assets/images/cool5.jpg"></div>
</div>

<div class="section white" style="background-image: url('/assets/images/cool6.jpg');">
    <div class="row container">
        <div class="row">
            <div class="col s12" id="high-scores-list">
                <h4 class="center white-text">High Scores</h4>
                <ol class="white-text">
                    {{#each highScores}}

                    <li data-id="{{id}}">
                        {{'User.username'}} scored {{score}}
                        {{#if status}}
                        <button class="delete-score waves-effect btn-flat" data-id="{{id}}">
                            <i class="tiny material-icons">close</i>
                        </button><br>
                        {{/if}}
                    </li>
                    {{/each}}
                </ol><br>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="/assets/images/cool5.jpg"></div>
</div>