<div class="navbar-fixed black">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><span class="member-name"></span></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>
    
<ul class="sidenav" id="mobile-demo">
    <li><a href="/profile">Profile</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>

<div class="parallax-container">
    <div class="parallax"><img src="/assets/images/cool3.jpg"></div>
</div>

<div class="section white" style="background-image: url('/assets/images/cool6.jpg');">
    <div class="row container">

        <div class="row">
            <div class="col s12 center">
                <a class="waves-effect waves-light btn modal-trigger deep-purple darken-4" href="#soloModal">Solo</a>
            </div>
        </div>

        <div class="row">
            <div class="col s12 center">
                <a class="waves-effect waves-light btn modal-trigger deep-purple darken-4" href="#coopModal">Co-op</a>
            </div>
        </div>

        <div class="row">
            <div class="col s12 center">
                <a class="waves-effect waves-light btn modal-trigger deep-purple darken-4" href="/leaderboard">Leaderboard</a>
            </div>
        </div>

        <div class="row">
            <div class="col s12 center">
                <a class="waves-effect waves-light btn modal-trigger deep-purple darken-4" href="#exitModal">Exit</a>
            </div>
        </div>
    </div>
</div>

<div id="soloModal" class="modal">
    <div class="modal-content">
        <h4>Rules</h4>
        <ul>
            <li>Protect your base by shooting as many enemies as you can</li>
            <li>Letting an enemy through your base will cost points</li>
            <li>Getting hit by an enemy will cost 1 life</li>
            <li>Catch those bouncing power-ups to get more lives</li>
            <li>The higher the level, the faster the enemies</li>
        </ul><br>
        <h4>Controls</h4>
        <ul>
            <li>Use the cursors to move around</li>
            <li>Press spacebar to shoot</li>
        </ul>

    </div>
    <div class="modal-footer">
        <a href="/solo" class="modal-close waves-effect waves-green btn-flat">Play</a>
    </div>
</div>

<div id="coopModal" class="modal">
    <div class="modal-content">
        <h4>Rules</h4>
        <ul>
            <li>Protect your base by shooting as many enemies as you can</li>
            <li>Letting an enemy through your base will cost points</li>
            <li>Getting hit by an enemy will cost 1 life</li>
            <li>Catch those bouncing power-ups to get more lives</li>
            <li>The higher the level, the faster the enemies</li>
        </ul><br>
        <h4>Controls</h4>
        <ul>
            <li>Use the cursors to move around</li>
            <li>Press spacebar to shoot</li>
        </ul>

    </div>
    <div class="modal-footer">
        <a href="/coop" class="modal-close waves-effect waves-green btn-flat">Play</a>
    </div>
</div>

<div id="exitModal" class="modal">
    <div class="modal-content">
        <h4>Exit</h4>
        <p>Are you sure you want to exit ?</p>
    </div>
    <div class="modal-footer">
        <a href="/logout" class="modal-close waves-effect waves-green btn-flat">Yes</a>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="/assets/images/cool3.jpg"></div>
</div>