        <div class="navbar-fixed indigo darken-4">
            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo"><span class="member-name"></span></a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                    <li><a href="/members">Menu</a></li>
                    <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="/members">Menu</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>

        <div class="section white">
            <div class="row container">
              <div class="row">
                <h5 class="header center">Your Scoreboard</h5>
              </div>
            </div>
        </div>

        <div class="section white">
            <div class="row container">
                <div class="row">
                    <a class="waves-effect waves-light btn modal-trigger indigo darken-4" href="#passwordModal">Edit Password</a>
                </div>
            </div>
        </div>

        <div id="passwordModal" class="modal">
            <div class="modal-content">
                <h5>Change your password</h5>
                <form class="col s12" id="passwordForm">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="newPassword" type="password" class="validate">
                            <label class="active" for="password">New Password</label>
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light btn-small indigo darken-4" type="submit" name="action">Submit</button>
                </form>
            </div>

            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Back</a>
            </div>
        </div>