<div class="navbar-fixed black">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Profile</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/members">Menu</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/members">Menu</a></li>
    <li><a href="/leaderboard">Leaderboard</a></li>
</ul>

<div class="parallax-container">
    <div class="parallax"><img src="/assets/images/cool4.jpg"></div>
</div>

<div class="section white" style="background-image: url('/assets/images/cool6.jpg');">
    <div class="row container">
        <div class="row">
            <div class="col s3"></div>
            <div class="col s7">
                <h4 class="center white-text">Best Scores</h4>
                <ul>
                    {{#each highScores}}

                    <li class="high-score-li white-text" data-id="{{id}}">
                        Score: {{score}} points
                        <button class="delete-score waves-effect btn-flat" data-id="{{id}}">
                            <i class="material-icons">close</i>
                        </button><br>
                        On: {{createdAt}}<br><br>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="col s2">
                <a class="waves-effect waves-light btn modal-trigger deep-purple darken-4" href="#passwordModal">
                    Settings
                </a>
            </div>
        </div>
    </div>
</div>

<div id="passwordModal" class="modal">
    <div class="modal-content">
        <h5>Change your password</h5>
        <form class="col s12" id="passwordForm">
            <div class="row">
                <div class="input-field col s12">
                    <input id="newPassword" type="password" class="validate">
                    <label class="active" for="password">New Password</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light btn-small black" type="submit" name="action">Submit</button>
            <div id="alert">
                <p class="msg"></p>
            </div>  
        </form>
    </div>

    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Back</a>
    </div>
    
</div>

<div class="parallax-container">
    <div class="parallax"><img src="/assets/images/cool4.jpg"></div>
</div>