<div class="navbar-fixed black">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Solo</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/members">Menu</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/members">Menu</a></li>
    <li><a href="/profile">Profile</a></li>
</ul>
<br>
<div class="row container">
    <div class="row">
        <div class="col s12 m6 center" id="GameCanvas"></div>
    </div>
</div>